[Unit]
After=network.service
Description=Cache Singapore's weather

[Service]
Type=simple
WorkingDirectory=/home/pi/Documents/Weather-Station/backend
ExecStart=singapore_cache.sh
# User=do-user

[Install]
WantedBy=multi-user.target
# WantedBy=default.target
