body {
    background: lightgrey;
}

hr {

}

.banner {
    opacity: 0.6;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 300px;
    background-size: cover;
    z-index: 0;
}

.wallpaper {
    opacity: 0.6;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    background-size: cover;
    z-index: 0;
}

.searchBar {
    position: absolute;
    left: 35%;
    margin-left: auto;
    margin-right: auto;
    top: 40%;
    z-index: 1;
    width: 30%;
}

.rowSpace {
    padding: 20px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.floatLeft {
    display: block;
    text-align: left;
    float: left;
}

.floatRight {
    display: block;
    text-align: right;
    float: right;
}

.alert {
    padding: 20px;
    margin: 5px;
    color: #970020;
    background-color: #ffd5de;
}

.currentTemp {

}

.currentWeather {
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}